{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}
<div class = "max-w-lg mx-auto">
    <div class="mb-5 text-center py-2">
        <h3 class = "text-2xl">Create new password</h3>
    </div>
    <div class="mt-4">
        <form method="post" >
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class ="text-white text-lg w-full bg-blue-500 hover:bg-blue-800 px-3 py-2 rounded">Confirm new Password</button>
        </form>
    </div>
</div>
{% endblock content %}